<%- include('header.ejs') %>

<body>
    <section class="section is-paddingless-horizontal" style="padding-top: 0;">
        <div class="container grid" style="max-width: 1024px;">
            <div class="section is-paddingless-horizontal">
                <h1 class="title is-2">Welcome</h1>
            </div>
        </div>
    </section>
</body>

<%- include('footer.ejs') %>
